<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col"></div>
    <div class="mdl-cell mdl-cell--4-col demo-card-event mdl-card mdl-shadow--2dp">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input ng-model="user.email" class="mdl-textfield__input" type="email" id="username">
            <label class="mdl-textfield__label" for="username">Email</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input ng-model="user.pass" class="mdl-textfield__input" type="password" id="password">
            <label class="mdl-textfield__label" for="password">Password</label>
        </div>

        <button ng-click="loginbtn()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Login
        </button>
    </div>
    <div class="mdl-cell mdl-cell--4-col"></div>
</div>

<!-- Event card -->
<style>
    .demo-card-event.mdl-card {
        width: auto;
        height: auto;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        background: #FFF;
    }
    .demo-card-event > .mdl-card__actions {
        border-color: rgba(255, 255, 255, 0.2);
    }
    .demo-card-event > .mdl-card__title {
        align-items: flex-start;
    }
    .demo-card-event > .mdl-card__title > h4 {
        margin-top: 0;
    }
    .demo-card-event > .mdl-card__actions {
        display: flex;
        box-sizing:border-box;
        align-items: center;
    }
    .demo-card-event > .mdl-card__actions > .material-icons {
        padding-right: 10px;
    }
    .demo-card-event > .mdl-card__title,
    .demo-card-event > .mdl-card__actions,
    .demo-card-event > .mdl-card__actions > .mdl-button {
        color: #fff;
    }
</style>