<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
        <table class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp" style="width: 100%;">
            <thead>
            <tr>
                <th>Post</th>
                <th>Unit price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>25</td>
                <td>$2.90</td>
            </tr>
            <tr>
                <td>50</td>
                <td>$1.25</td>
            </tr>
            <tr>
                <td>10</td>
                <td>$2.35</td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="mdl-cell mdl-cell--4-col"></div>
    <div class="mdl-cell mdl-cell--4-col"></div>

</div>