 <!-- FlatFy Theme - Andrea Galanti /-->
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Computing Laboratory Telkom University">
    <meta name="author" content="Isa Setiawan Abdurrazaq">

    <title>Computing Laboratory - Telkom University</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom CSS-->
    <link href="css/general.css" rel="stylesheet">

	 <!-- Owl-Carousel -->
    <link href="css/custom.css" rel="stylesheet">
	<link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/animate.css" rel="stylesheet">

	<!-- Magnific Popup core CSS file -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<script src="js/modernizr-2.8.3.min.js"></script>  <!-- Modernizr /-->
	<!--[if IE 9]>
		<script src="js/PIE_IE9.js"></script>
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="js/PIE_IE678.js"></script>
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
	<![endif]-->

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>
    <!--aplikasi ku-->
    <script src="js/aplikasi.js"></script>
    <!--untuk angular ui -->
    <!-- <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script> -->
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

</head>

<body id="home" ng-app="App">

	<!-- Preloader -->
	<div id="preloader">
		<div id="status"></div>
	</div>

	<!-- FullScreen -->
    <div class="intro-header">
		<div class="col-xs-12 text-center abcen1">
			<h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">Computing Laboratory</h1>
			<h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">Place to Learn, Part to Grow</h3>

		</div>
        <!-- /.container -->
		<div class="col-xs-12 text-center abcen wow fadeIn">
			<div class="button_down ">
				<a class="imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#whatis"> <img class="img_scroll" src="img/icon/circle.png" alt=""> </a>
			</div>
		</div>
    </div>

	<!-- NavBar-->
	<nav class="navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                <div class="logo">
                    <img src="img/logo.png">
                </div>
                <a class="navbar-brand" href="#home">
                    Computing Laboratory
                </a>
            </div>

			<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
				<ul class="nav navbar-nav">

                    <li class="menuItem"><a href="#kami">Tentang kami</a></li>
                    <li class="menuItem"><a href="#whatis">Kegiatan</a></li>
					<li class="menuItem"><a href="#screen">Pengurus</a></li>
                    <li class="menuItem"><a href="#gabung">Bergabung</a></li>
                    <li class="menuItem"><a href="#contact">Contact</a></li>
				</ul>
			</div>

		</div>
	</nav>

    <!-- Use it -->
    <div id ="kami" class="content-section-a">

        <div class="container">

            <div class="row">

                <div class="col-sm-6 pull-right wow fadeInRightBig">
                    <img class="img-responsive" src="img/computinglogo.png" alt="">
                </div>

                <div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="200">
                    <h3 class="section-heading">Tentang Kami</h3>
                    <div class="sub-title lead3">Sebuah laboratorium di Telkom University fakultas Informatika yang dinaungi Kelompok Keahlian
                        <i>Intelegence Computing and Multimedia</i> yang mulai berdiri sejak
                        tahun 2014.<br> Pembina Computing Laboratory ini ialah pak Muhammad Arzaki.</div>
                    <p class="lead">
                        Di tahun kedua kepengurusan lab ini, untuk Koordinator Asisten Lab ialah Rizkiyana Prima Putra. Sementara Asisten Lab diantaranya ialah M. Iqbal Tawakkal (Wakordas), Rizma Nurviarelda (Bendahara), Ridhwan Dewoprabowo (Sekretaris), Satria Hafizh R.H. (Aslab SG/RG), Medina Diani N. (Aslab Media), Almira Khonsa I. (Aslab Inventaris), Isa Setiawan A. (Aslab Kompetisi), dan Grahan Desmon S. (Aslab Humas). Anggota Computing Laboratory diantaranya ialah Mahasiswa Tingkat 2 , 3 dan 4 dari jurusan S1 Teknik Informatika maupun S1 Ilmu Komputasi.
                    </p>

                    <p><a class="btn btn-embossed btn-primary" data-toggle="modal" data-target="#profilemodal" role="button">Selengkapnya</a>
					<a class="btn btn-embossed btn-info" data-toggle="modal" data-target="#modalriset" role="button">Riset</a></p>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>

    <!--modal untuk risets-->
    <div class="modal fade" role="dialog" id="modalriset">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Riset</h4>
                </div>
                <div class="modal-body modal-riset">
                    <div class="row">
                        <div class="col-lg-6">
                            <b>Judul Paper</b>
                            <p><i>“Differential Evolution for The Cryptanalysis of Transposition Cipher”</i></p>
                            <b>Dipublikasikan di</b>
                            <p><i>Information and Communication Technology (ICoICT ), 2015 3rd International Conference</i></p>
                            <b>Penulis</b>
                            <p>Gia S. Wulandari ; Wahyu Rismawan ; Siti Saadah; Sch. of Comput., Telkom Univ., Bandung, Indonesia</p>
                            <a class="btn-sm btn-embossed btn-info" href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?tp=&arnumber=7231394&url=http%3A%2F%2Fieeexplore.ieee.org%2Fiel7%2F7203317%2F7231384%2F07231394.pdf%3Farnumber%3D7231394" target="_blank">Lihat paper</a>
                        </div>
                        <div class="col-lg-6">
                            <b>Judul Paper</b>
                            <p><i>“Elementary Algorithms Analysis of Megrelishvili Protocol”</i></p>
                            <b>Dipublikasikan di</b>
                            <p><i>Indonesian Journal on Computing (Indo-JC)</i></p>
                            <b>Penulis</b>
                            <p>Muhammad Arzaki</p>
                            <a class="btn-sm btn-embossed btn-info" href="http://socj.telkomuniversity.ac.id/ojs/index.php/indojc/article/view/52" target="_blank">Lihat paper</a>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--modal untuk profile lengkap-->
	<div class="modal fade" role="dialog" id="profilemodal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header"><h4>Profil Lengkap</h4></div>
				<div class="modal-body">
					<p>
						Ditahun kedua kepengurusan lab ini beberapa program utama yang ada ialah Study Group, Study Group Advance, Research Group, Pelatihan dan Responsi. Materi yang dipelajari dalam Study Group yaitu Algoritma Struktur Data serta Desain dan Analisis Algoritma. Dalam Study Group Advance beberapa bidang yang dipelajari ialah Evolutionary Computation, Kriptografi, Recommender System dan Machine Learning. Research Group yang ada ialah dibidang Kriptografi dibawah pengajaran Pak M. Arzaki dan Pak Bambang. Sementara itu, untuk bahasa pemrograman utama yang dipakai dalam setiap implementasi pembelajaran di lab ini ialah bahasa pemrograman Python.
					</p>
					<h4>Visi</h4>
					<p align="center" style="font-size: 14pt;">
						“Menjadi laboratorium yang mampu meningkatkan pengetahuan di bidang
						algoritma dan pemrograman bagi mahasiswa anggota maupun non anggota
						lab. Selain itu, juga mampu memberdayakan resource yang ada di lab, guna
						mendukung program riset yang dilakukan oleh dosen Telkom University."
					</p>
					<h4>Misi</h4>
					<ol>
						<li>Menyelanggarakan pembelajaran secara rutin bagi anggota lab juga
							memberikan penugasan sebagai bentuk praktek dari materi yang telah
							diajarkan</li>
						<li>Menyelanggarakan pembelajaran secara rutin bagi anggota lab juga
							memberikan penugasan sebagai bentuk praktek dari materi yang telah
							diajarkan</li>
						<li>
							Mempersiapkan anggota lab maupun aslab hingga resource lain yang ada
							dilab untuk membantu jalannya riset dosen khususnya dosen di KK ICM
							Telkom University
						</li>
						<li>
							Menjaga hubungan kekeluargaan antar anggota lab serta menjaga
							kenyamanan dan suasana kondusif di lab yang mampu meningkatkan
							produktifitas anggota maupun pengunjung lab
						</li>
					</ol>
					<h4>Sejarah</h4>
                    <p>Kelompok keahlian ICM merupakan singkatan dari Intelligence,
                        Computing, dan Multimedia, pada saat itu baru ada laboratorium AI, dan
                        Multimedia, maka untuk melengkapi kebutuhan kelompok keahlian ICM,
                        laboratorium Computing didirikan, dengan harapan dapat menangani bidangbidang
                        yang belum dapat di tangani laboratorium yang sudah ada, seperti
                        kriptografi, metode formal, bio-inspired computing, dan lain-lain.</p>
					<div class="row">
						<div class="col-sm-6">
							<h5>Tahun ke-1 (2014-2015)</h5>
                            <b>Pembina </b>
                            <p>Bu Gia Septiana W dan Bu Tisa Saadah</p>
                            <b>Kordas </b>
                            <p>Wahyu Rismawan (IF 2011)</p>
                            <b>Aslab </b>
                            <p>Kadek Byan Prihandanajati (IF 2011), Ryan Pratama (IF 2011),
                            Rizki (IF 2012)</p>
						</div>
						<div class="col-sm-6">
							<h5>Tahun ke-2 (2015-2016)</h5>
                            <b>Pembina</b>
                            <p>Muhammad Arzaki</p>
                            <b>Kordas </b>
                            <p>Lilin (IF 2013)</p>
                            <b>Aslab</b>
                            <p>Febrian Imanda (IF 2013), Satria Nur (IF 2013), Azmi Hafizha (IF
                            2012), Hafizh Shohihudin (IF 2013)</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!--modal study group-->
    <div class="modal fade" role="dialog" id="modalsg">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Study Group</h4>
                </div>
                <div class="modal-body">
                    <p>Kegiatan Study Group ini merupakan salah satu
                        program rutin pertama bagi anggota baru
                        laboratorium Computing yang merupakan mahasiswa
                        Fakultas Informatika tingkat 2. Melihat latar belakang
                        para anggota baru ini maka konten kegiatan rutin
                        Study Group akan berkutat pada algoritma dan
                        pemrograman dasar.</p>
                    <h5>Tujuan</h5>
                    <ol>
                        <li>Memfasilitasi anggota Study Group dalam kemampuan programming dengan menggunakan bahasa Python</li>
                        <li>Membantu anggota Study Group untuk meningkatkan pemahaman mengenai dasar Algoritma dan Struktur Data</li>
                        <li>Membantu anggota Study Group untuk meningkatkan pemahaman mengenai Desain dan Analisis Algoritma</li>
                    </ol>
                    <h5>Topik yang dipelajari</h5>
                    <ol>
                        <li>Batch 1 : Algoritma Struktur Data, dengan rincian materi yang diajarkan ialah
                            Sorting, searching, Intro object oriented,Stack, Queue, Graph, Tree
                        </li>
                        <li>Batch 2 : Desain dan Analisis Algoritma dengan rincian materi yang diajarkan
                            ialah Algoritma Greedy, Brute force, Dynamic Programming , Divide and
                            Conquer, dan Backtrack</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!--modal study group advance-->
    <div class="modal fade" role="dialog" id="modalsga">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Study Group Advance</h4>
                </div>
                <div class="modal-body">
                    <p>Program Study Group Advance ini bisa dibilang
                        merupakan tingkat lanjutan dari Study Group, namun
                        kemandirian dari sistem pembelajaran anggotanya
                        menjadi perbedaan utama antara Study Group
                        Advance dengan Study Group. SG Advance
                        menerapkan prinsip utama sharing session yang
                        berarti bahwa dalam suatu group discussion selain
                        satu orang bertindak sebagai pemimpin sharing yang
                        menyajikan pembahasan, semua anggota yang
                        termasuk dalam grup tersebut juga bisa memberikan
                        pengetahuan dari sumber yang berbeda namun tetap
                        pada satu pembahasan topic yang sedang dibahas</p>
                    <h5>Tujuan</h5>
                    <ol>
                        <li>Membantu anggota Study Group Advance untuk meningkatkan pemahaman mengenai pengetahuan di bidang computer science yang lebih spesifik yaitu Machine Learning, Kriptografi, Recommender System ataupun Evolutionary Computation</li>
                        <li>Membantu anggota Study Group Advance dalam mempersiapkan Tugas Akhir mereka yang sekiranya berkaitan dengan topik Machine Learning, Kriptografi, Recommender System ataupun Evolutionary Computation</li>
                    </ol>
                    <h5>Topik yang dipelajari</h5>
                    <br>
                    <div class="owl-carousel" id="owl-sga">
                        <div class="item tengah" ><img width="150px" src="img/REPRESENTASI/ec.png"></div>
                        <div class="item tengah" ><img width="150px" src="img/REPRESENTASI/recsys.png"></div>
                        <div class="item tengah" ><img width="150px" src="img/REPRESENTASI/ml.png"></div>
                        <div class="item tengah" ><img width="150px" src="img/REPRESENTASI/kripto.png"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--modal study pelatihan-->
    <div class="modal fade" role="dialog" id="modalpela">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Pelatihan</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <h4>Fast Track Programming With Python</h4>
                            <p>Ialah suatu pelatihan yang mengajarkan bagaimana menggunakan bahasa pemrograman Python dalam mengimplementasi suatu algoritma hingga suatu program tertentu.</p>
                            <h5>Tujuan</h5>
                            <ol>
                                <li>Memberikan pengetahuan dan pemahaman kepada peserta tentang bahasa pemrograman Python</li>
                                <li>Mengajarkan peserta untuk bisa mengimplementasi beberapa algoritma dan membuat program tertentu dengan menggunakan bahasa Python</li>
                                <li>Mulai mempopulerkan penggunaan bahasa Python dikalangan mahasiswa Tel-U khususnya mahasiswa Fakultas Informatika</li>
                            </ol>
                            <h5>Tempat</h5>
                            <p>IF LAB 5 Telkom University</p>
                            <h5>Waktu</h5>
                            <p>Sabtu, 19 Maret 2016</p>
                        </div>
                        <div class="col-lg-6">
                            <div class="owl-carousel" id="owl-photos">
                                <script src="js/galeripython.js"></script>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="owl-carousel" id="owl-photos-1">
                                <script src="js/galerisage.js"></script>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h4>Pelatihan Tools SageMath</h4>
                            <p>Ialah suatu pelatihan yang mengajarkan bagaimana menggunakan tools yang biasa digunakan dalam Kriptografi yaitu SageMath</p>
                            <h5>Tujuan</h5>
                            <ol>
                                <li>Memberikan pengetahuan dan pemahaman kepada peserta tentang salah satu tools dalam kriptografi yaitu SageMath</li>
                                <li>Mengajarkan peserta untuk bisa mengimplementasi beberapa program dan penghitungan menggunakan SageMath</li>
                            </ol>
                            <h5>Tempat</h5>
                            <p>Computing Laboratory Telkom University</p>
                            <h5>Waktu</h5>
                            <p>Sabtu, 26 September 2015</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--modal study group advance-->
    <div class="modal fade" role="dialog" id="modalresponsi">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Responsi</h4>
                </div>
                <div class="modal-body">
                    <div class="owl-carousel" id="owl-responsi">
                        <div class="item">
                            <h4>Responsi DAA (Desain Analissi Algoritma)</h4>
                            <p>Responsi adalah suatu kegiatan pendalaman materi
                                ataupun review materi diluar jam perkuliahan yang
                                biasanya dipandu oleh mahasiswa ataupun dosen
                                yang memiliki pemahaman lebih dan bersedia
                                membantu mahasiswa untuk memahami kembali
                                materi yang diajarkan di perkuliahan. Responsi DAA
                                (Desain dan Analisi Algoritma)yang diadakan
                                Computing Laboratory dibuka untuk mahasiswa
                                Informatika secara umum yang memang sedang mengambil mata kuliah DAA, dan dilaksanakan
                                menjelang ujian (UTS ataupun UAS)</p>
                            <h5>Tujuan</h5>
                            <ol>
                                <li>Membantu peserta responsi dalam mempelajari kembali materi yang
                                    belum dipahami dikelas maupun memperdalam pemahaman yang sudah
                                    dimiliki terkait materi DAA</li>
                                <li>Membantu peserta responsi dalam mengerjakan latihan latihan soal dan
                                    memahami langkah penyelesaiaan soal berdasarkan karakteristik bentuk
                                    soalnya</li>
                            </ol>
                            <p></p><b>Tempat           :</b>  Computing Laboratory Telkom University
                            <p></p><b>Waktu            :</b>  Kamis 8 Oktober dan Sabtu 17 Oktober 2015
                            <p></p><b>Pengisi materi   :</b>  Bu Gia Septiana W

                        </div>
                        <div class="item">
                        <h4>Responsi MOSI (Pemodelan dan Simulasi)</h4>
                        <p>Responsi adalah suatu kegiatan pendalaman materi
                            ataupun review materi diluar jam perkuliahan yang
                            biasanya dipandu oleh mahasiswa ataupun dosen
                            yang memiliki pemahaman lebih dan bersedia
                            membantu mahasiswa untuk memahami kembali
                            materi yang diajarkan di perkuliahan. Responsi MOSI
                            (Pemodelan dan Sistem) yang diadakan Computing
                            Laboratory dibuka untuk mahasiswa Informatika
                            secara umum yang memang sedang mengambil mata
                            kuliah MOSI, dan dilaksanakan menjelang ujian (UTS)</p>
                        <h5>Tujuan</h5>
                        <ol>
                            <li>Membantu peserta responsi dalam mempelajari kembali materi yang
                                belum dipahami dikelas maupun memperdalam pemahaman yang sudah
                                dimiliki terkait materi MOSI</li>
                            <li>Membantu peserta responsi dalam mengerjakan latihan latihan soal dan
                                memahami langkah penyelesaiaan soal berdasarkan karakteristik bentuk
                                soalnya</li>
                        </ol>
                            <p></p><b>Tempat           :</b>  Computing Laboratory Telkom University
                            <p></p><b>Waktu            :</b>  Kamis 25 Februari 2016
                            <p></p><b>Pengisi materi   :</b>  Bu Gia Septiana W

                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


	<!-- What is -->
	<div id="whatis" class="content-section-b" style="border-top: 0">
		<div class="container">

			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>Kegiatan</h2>
				<p class="lead" style="margin-top:0">Berikut adalah kegiatan kami</p>

			</div>

			<div class="row">
				<div class="col-sm-6 wow fadeInDown text-center">
                    <img class="rotate" style="height: 100px; width: 100px" src="img/icon2/reading.svg" alt="Generic placeholder image">
                    <h3>Study Group</h3>
                    <p class="lead">salah satuprogram rutin pertama bagi anggota baru laboratorium Computing yang merupakan mahasiswa Fakultas Informatika tingkat dua.</p>
                    <p><a data-target="#modalsg" data-toggle="modal" class="btn btn-embossed btn-primary view" role="button">Selengkapnya</a></p>
				</div><!-- /.col-lg-4 -->

				<div class="col-sm-6 wow fadeInDown text-center">
				  <img  class="rotate" style="height: 100px; width: 100px" src="img/icon2/chemistry.svg" alt="Generic placeholder image">
				   <h3>Study Group Advance</h3>
				   <p class="lead">bisa dibilang merupakan tingkat lanjutan dari Study Group, namun kemandirian dari sistem pembelajaran anggotanya menjadi perbedaan utama antara Study Group Advance dengan Study Group.</p>
				    <p><a data-target="#modalsga" data-toggle="modal" class="btn btn-embossed btn-primary view" role="button">Selengkapnya</a></p>
				</div><!-- /.col-lg-4 -->


			</div><!-- /.row -->

			<div class="row tworow">


                <div class="col-sm-6 wow fadeInDown text-center">
                    <img  class="rotate" style="height: 100px; width: 100px" src="img/icon2/presentation.svg" alt="Generic placeholder image">
                    <h3>Pelatihan</h3>
                    <p class="lead"><i>Computing Laboratory</i> pernah mengadakan pelatihan yang bisa diikuti oleh mahasiswa <I>Telkom University</I>  </p>
                    <p><a data-toggle="modal" data-target="#modalpela" class="btn btn-embossed btn-primary view" role="button">Selengkapnya</a></p>
                </div><!-- /.col-lg-4 -->

                <div class="col-sm-6  wow fadeInDown text-center">
                    <img class="rotate" style="height: 100px; width: 100px" src="img/icon2/blackboard.svg" alt="Generic placeholder image">
                    <h3>Responsi</h3>
                    <p class="lead">kegiatan pendalaman materi ataupun review materi diluar jam perkuliahan yang biasanya dipandu oleh mahasiswa ataupun dosen.</p>
                     <p><a data-toggle="modal" data-target="#modalresponsi" class="btn btn-embossed btn-primary view" role="button">Selengkapnya</a></p>

                </div><!-- /.col-lg-4 -->

			</div><!-- /.row -->
		</div>
	</div>



	<!-- Screenshot -->
	<div id="screen" class="content-section-b">
        <div class="container">
          <div class="row" >
			 <div class="col-md-6 col-md-offset-3 text-center wrap_title ">
				<h2>Pengurus</h2>
			 </div>
		  </div>
		    <div class="row wow bounceInUp" >
              <div id="owl-demo" class="owl-carousel">

                  <div class="item pengurus">
                    <div class="foto-pengurus gia"></div>
                      <h4><i>"Join us and let's learn together with the members!"</i></h4>
                      <p class="lead">Gia Septiana, Pembina Lab.</p>
                  </div>

                  <div class="item pengurus">
                      <div class="foto-pengurus tisa"></div>
                      <h4><i>"Never too late to try, just do it"</i></h4>
                      <p class="lead">Tisa Siti Sa'adah, Pembina Lab.</p>
                  </div>

                  <div class="item pengurus">
                      <div class="foto-pengurus lilin"></div>
                      <h4><i>"RUN!"</i></h4>
                      <p class="lead">Lilin, Asisten Lab. </p>
                  </div>

                  <div class="item pengurus">
                      <div class="foto-pengurus ipad"></div>
                      <h4><i>"Bergerak atau Tergantikan"</i></h4>
                      <p class="lead">Febrian Imanda Effendy, Asisten Lab.</p>
                  </div>

                  <div class="item pengurus">
                      <div class="foto-pengurus hafi"></div>
                      <h4><i>"All the world is a laboratory to the inquiring mind" - Martin H. Fischer</i></h4>
                      <p class="lead">Hafidz SA, Asisten Lab.</p>
                  </div>

                  <div class="item pengurus">
                      <div class="foto-pengurus azmi"></div>
                      <h4><i>"Nothing worth having comes easy"</i></h4>
                      <p class="lead">Azmi Hafizha, Asisten Lab.</p>
                  </div>

                  <div class="item pengurus">
                      <div class="foto-pengurus nur"></div>
                      <h4><i>"Enough hooman for today"</i></h4>
                      <p class="lead">Satria Nur H, Asisten Lab.</p>
                  </div>
              </div>
          </div>
        </div>


	</div>

	<div id="gabung" class="content-section-c" ng-controller="RekruitmenCtrl">
		<div class="container">
			<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center white">
				<h2>Hasil Rekruitasi</h2>
                <div ng-show="bisa">
                    <p class="lead">Mari bergabung bersama kami. Pendaftaran rekruitmen akan tetap dibuka hingga</p>
                    <h3>{{remaining.days}} hari {{remaining.hours}} jam {{remaining.minutes}} menit {{remaining.seconds}} detik lagi</h3>
                    <p class="lead">untuk SG Basic</p>
                    <h3>{{remaining2.days}} hari {{remaining2.hours}} jam {{remaining2.minutes}} menit {{remaining2.seconds}} detik lagi</h3>
                    <p class="lead">untuk SG Advance</p>
                </div>
                <!--<p class="lead" ng-show="!bisa"> Maaf pendaftaran sudah ditutup :(</p>-->

                <div class="form-group">
                    <label for="ceknim">Cek NIM Kamu di sini</label>
                    <div class="input-group">
                        <input ng-model="cnim" type="text" class="form-control" name="InputName" id="ceknim" placeholder="Masukkan NIM" required>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                    </div>
                </div>
                <input type="submit" ng-click="lulusga(cnim)" name="submit" id="cek" value="Cek" class="btn wow tada btn-embossed btn-primary pull-right">
                <h4>{{hasil}}</h4>




            </div>
                <div style="margin-top: 30px" class="col-md-6 col-md-offset-3 text-center">
                    <a ng-show="bisa" type="button" href="https://form.jotform.me/70190635632453" class="btn btn-embossed btn-primary view">DAFTAR</a>
                    <a ng-show="bisa" type="button" href="https://docs.google.com/document/d/1J6hbfPAUq1h--BxS3pmfP6JXDe3HcDrvQ9Jz508CuGY/edit?usp=sharing" class="btn btn-embossed btn-default view">FORMULIR</a>
                    <div class="mockup-content">
                        <div class="morph-button wow pulse ">
                            <button type="button "><span></span></button>
                        </div>
                    </div>
			</div>
			</div>
		</div>
	</div>

	<!-- Banner Download -->
	<div id="downloadlink" class="banner">
		<div class="container">
			<div class="row">
                <div class="col-md-6 col-md-offset-3 text-center wrap_title">
                    <h2>Keluarga</h2>
                    <p class="lead" style="margin-top:0"></p>
			 </div>
			</div>
		</div>
	</div>

    <!--<div class="content-section-c" ng-controller="Ctrl">-->
        <!--<div class="container">-->
            <!--<div class="col-md-6 col-md-offset-3 text-center white">-->
                <!--<h2>Blog</h2>-->
                <!--<p class="lead">Simak informasi terbaru kami</p>-->
            <!--</div>-->
            <!--<div class="row wow bounceInUp">-->
                <!--<div class="blog-section" ng-show="blogvisible">-->
                    <!--<div class="post" ng-repeat="po in posts">-->
                        <!--&lt;!&ndash; <img class="center-cropped" style="background-image: url('img/intro/intro4.jpg');" > &ndash;&gt;-->
                        <!--<h4>{{po.tittle}}</h4>-->
                        <!--<div ng-bind-html="(po.content | Summ)">-->
                          <!--&lt;!&ndash; {{po.content | Summ}} &ndash;&gt;-->
                        <!--</div>-->
                        <!--<button ng-click="bacalengkap(po)" class="btn btn-primary">Selengkapnya</button>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash;<button ng-click="coba()" class="btn btn-primary">Coba</button>&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

	<!-- Contact -->
	<div id="contact" class="content-section-a">
		<div class="container">
			<div class="row">

			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>Hubungi Kami</h2>
			</div>

			<form role="form" action="" method="post" >
				<div class="col-md-6">
					<div class="form-group">
						<label for="InputName">Nama anda</label>
						<div class="input-group">
							<input type="text" class="form-control" name="InputName" id="InputName" placeholder="Masukkan Nama" required>
							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
						</div>
					</div>

					<div class="form-group">
						<label for="InputEmail">Email anda</label>
						<div class="input-group">
							<input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Masukkan Email" required  >
							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
						</div>
					</div>

					<div class="form-group">
						<label for="InputMessage">Pesan</label>
						<div class="input-group">
							<textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
						</div>
					</div>

					<input type="submit" name="submit" id="submit" value="Submit" class="btn wow tada btn-embossed btn-primary pull-right">
				</div>
			</form>

			<hr class="featurette-divider hidden-lg">
				<div class="col-md-5 col-md-push-1 address">
					<address>
					<h3>Lab Kami Berada di</h3>
					<p class="lead"><br>
					    Ruang IF2.01.01,
                        Gedung Kultubai Utara,
                        Fakultas Informatika,
                        Telkom Universty
					    Jalan Telekomunikasi Terusan Buah Batu
                        Bandung 40257 Indonesia</p>
					</address>

					<h3>Media Sosial</h3>
					<li class="social">
					<a href="https://www.facebook.com/telkomuniversity.computing.lab/"><i class="fa fa-facebook-square fa-size"> </i></a>
					<!--<a href="#"><i class="fa  fa-twitter-square fa-size"> </i> </a>-->
					<!--<a href="#"><i class="fa fa-google-plus-square fa-size"> </i></a>-->
					<!--<a href="#"><i class="fa fa-flickr fa-size"> </i> </a>-->
					</li>
				</div>
			</div>
		</div>
	</div>



    <footer>
      <div class="container">

      </div>
    </footer>

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
	<script src="js/owl.carousel.js"></script>
	<script src="js/script.js"></script>
	<!-- StikyMenu -->
	<script src="js/stickUp.min.js"></script>
	<script type="text/javascript">
	  jQuery(function($) {
		$(document).ready( function() {
		  $('.navbar-default').stickUp();

		});
	  });

	</script>
	<!-- Smoothscroll -->
	<script type="text/javascript" src="js/jquery.corner.js"></script>
	<script src="js/wow.min.js"></script>
	<script>
    new WOW().init();
    </script>
    <script src="js/classie.js"></script>
    <script src="js/uiMorphingButton_inflow.js"></script>
    <!-- Magnific Popup core JS file -->
    <script src="js/jquery.magnific-popup.js"></script>

</body>

</html>
